@inherits LayoutComponentBase
@layout SidebarLayout
<CascadingValue Value="this">
<ilw-columns mode="sidebar-left" gap="44px" width="page">
    <div slot="sidebar">
        <ilw-section-nav>
            <span class="ilw-section-nav--root">Office Administration</span>
            <a title="General Information" aria-current="@(BaseUrl == "/office/general" ? "page" : null)" href="/office/general">General Information</a>
            <a title="Office Hours" aria-current="@(BaseUrl == "/office/hours" ? "page" : null)" href="/office/hours">Office Hours</a>
            <a title="People" aria-current="@(BaseUrl == "/office/people" ? "page" : null)" href="/office/people">Edit People in Your Office</a>
            <a title="Batch Load" aria-current="@(BaseUrl == "/office/peoplebatch" ? "page" : null)" href="/office/peoplebatch">Batch Load People to Your Office</a>
            <a title="Office Administrators" aria-current="@(BaseUrl == "/office/users" ? "page" : null)" href="/office/users">Office Administrators</a>
            @if (FullSecurityItem?.IsUnitAdmin ?? false)
            {
                <a title="Internal Information" aria-current="@(BaseUrl == "/office/internal" ? "page" : null)" href="/office/internal">Internal Information</a>
                <a title="Links to Pull Information" aria-current="@(BaseUrl == "/office/directory" ? "page" : null)" href="/office/directory">Links to Pull Information</a>
            }
        </ilw-section-nav>
        <LoginInformation></LoginInformation>
    </div>
    <ilw-content>
        @Body
    </ilw-content>
</ilw-columns>
</CascadingValue>