@page "/profile/headshot/{refresh?}"

<PageTitle>Profile Headshot | Illinois</PageTitle>
<NavigationLock OnBeforeInternalNavigation=this.LocationChangingHandler ConfirmExternalNavigation=_isDirty />
@if (Employee != null)
{
    <div class="iled-section">
        <h1>@Employee.ProfileName Headshot</h1>
        <p>Add a professional headshot to this profile by uploading a photo below. Please be sure the image is already cropped, or the image will auto-resize to a similar size. If you have a photo already loaded, delete the photo before uploading a new photo. Make sure you save any changes.</p>

        <Instructions ChildContent="@Instructions"></Instructions>
        <ImageUploader IsDisabled=@Employee.IsEntryDisabled @ref="@ImageUploader" Size="@Size" Height="@Height" Width="@Width" FileUrl="@Employee.PhotoUrl" ItemId="@Employee.NetIdTruncated" Delete="DeleteImage" Save="SaveImage"></ImageUploader>

        <div class="iled-input-box-parent">
            <div class="iled-input-box">
                <label for="ed-alttext">Alternative Text for Headshot</label>
                <input id="ed-alttext" type="text" disabled="@Employee.IsEntryDisabled" @bind="Employee.PhotoAltText">
            </div>
            <div class="iled-instructions">
                Describe your headshot as if you were describing it to someone on the phone. This is used for accessibility purposes. Do not use the phrase "photo of" or "picture of" in the description.
            </div>
        </div>


        <div class="iled-buttons-left">
            <button class="ilw-button ilw-theme-orange-1" disabled="@Employee.IsEntryDisabled" @onclick="Send" @onblur="RemoveMessage">Save</button>
            <ViewProfile NetId="@Employee.NetId"></ViewProfile>
        </div>
        <ToastPopup></ToastPopup>

    </div>
}
